- content_for :head do
  - title 'Resend confirmation instructions'
.devise-container
  .devise-bg
  .container
    .row.row-12.row-sm-6
      .col
        %h1 Resend confirmation instructions
        = form_for(resource, as: resource_name, url: confirmation_path(resource_name), html: { method: :post }) do |f|
          = devise_error_messages!
          .form-group
            = f.label :email
            %br/
            = f.email_field :email, autofocus: true, value: (resource.pending_reconfirmation? ? resource.unconfirmed_email : resource.email), class: "form-control"
          = f.submit "Resend confirmation instructions", class: "btn btn-white"
        = render "devise/shared/links"
      .col
        %h1 Let's get started!
        = render "devise/shared/register-text"