- content_for :head do
  - title @forum.name + ' - Forums'
.page-header
  .container
    .row.-no-gutter
      .col
        %h1
          Forums
          %span.small
            \/
            = @forum.category.name
.container
  .row
    .col-9
      %h2.forum-title= @forum.name
      - if @forum.moderator?(mongoid_forums_user)
        %b You are a moderator on this forum.
      .topic-list
        - @topics.each do |topic|
          = render :partial => 'mongoid_forums/forums/topic_list_item', :locals => {:topic => topic}
    .col-3
      = link_to "Add a topic", forum_path(@forum) + '/new', class: 'btn btn-primary btn-block'
      - @categories.each do |category|
        %h2
          = category.name
        %ul
        - category.forums.asc(:position).each do |forum|
          %li= link_to forum.name, forum
