- content_for :head do
  - title 'Sign up'
.devise-container
  .devise-bg
  .container
    .row.row-12.row-sm-6
      .col
        %h1 Register your account
        = form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|
          = devise_error_messages!
          .form-group
            = f.label :email
            %br/
            = f.email_field :email, autofocus: true, class: "form-control"
          .form-group
            = f.label :password
            - if @minimum_password_length
              %em
                (#{@minimum_password_length} characters minimum)
            %br/
            = f.password_field :password, autocomplete: "off", class: "form-control"
          .form-group
            = f.label :password_confirmation
            %br/
            = f.password_field :password_confirmation, autocomplete: "off", class: "form-control"
          = f.submit t('.sign_up', :default => "Sign up"), class: "btn btn-white"
        = render "devise/shared/links"
      .col
        %h1 Join our friendly community!
