- content_for :head do
  - title 'Sign up'
.page-header
  .container
    .row.-no-gutter
      .col
        %h1 Sign up
.container
  .row
    .col-12.col-sm-6.col-lg-4
      = form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|
        = devise_error_messages!
        .form-group
          = f.label :email
          %br/
          = f.email_field :email, autofocus: true, class: "form-control"
        .form-group
          = f.label :password
          - if @minimum_password_length
            %em
              (#{@minimum_password_length} characters minimum)
          %br/
          = f.password_field :password, autocomplete: "off", class: "form-control"
        .form-group
          = f.label :password_confirmation
          %br/
          = f.password_field :password_confirmation, autocomplete: "off", class: "form-control"
        = f.submit t('.sign_up', :default => "Sign up"), class: "btn btn-default"
      %hr
      = render "devise/shared/links"
