- content_for :head do
  - title 'Admin - Manage categories'
.page-header
  .container
    .row.-no-gutter
      .col
        %h1 Admin - Manage categories
.container
  %ul.nav.nav-tabs
    %li
      =link_to "Home", admin_root_path
    %li.active
      =link_to "Categories", admin_categories_path
    %li
      =link_to "Forums", admin_forums_path
    %li
      =link_to "User Groups", admin_groups_path
    %li
      =link_to "Users", admin_users_path

  %h2 Listing all moderator groups for: #{@category.name}
  %table.table
    %tr
      %th
        Name

    - @category.moderator_groups.each do |group|
      %tr
        %td
          = link_to group.name, [:admin, group]
        %td
          = link_to "Show", admin_group_path(group), :class => "btn btn-default"
        %td
          = link_to "Edit", edit_admin_group_path(group), :class => "btn btn-default"
        %td
          = button_to "Remove", admin_category_rem_group_path(category_id: params[:id], group: {id: group.id}), method: :post, data: { confirm: 'Are you certain you want to delete this?' }, :class => "btn btn-danger"

  = form_tag admin_category_add_group_path(@category), :method => :post do
    = collection_select(:group, :id, @groups, :id, :name, {:prompt => true})
    %button
      Add
