- content_for :head do
  - title 'Biodomes on May 24th, 2016 at 15:27'
  = javascript_include_tag "game_report"

  = javascript_tag do
    window.gameId = '#{@game.id}';

.mega-header{style: "background-image: url(#{image_url('home-bg.jpg')});"}
  .page-header
    .container
      .row.-no-gutter
        .col
          %h1 Game Report
  .game-report-header
    .container
      .row
        .col-8.game-winner
          .game-place FIRST PLACE
          =player_avatar(@players_sorted.first.username, 150)
          .game-winner-info
            %h2= @players_sorted.first.username
            .row
              .col
                .stat-num= @players_sorted.first.kills
                .stat-desc Kills
              .col
                .stat-num 24
                .stat-desc Minutes Alive
              .col
                .stat-num 284
                .stat-desc Other stat
        .col-4
          .game-place SECOND PLACE
          %h2
            =player_avatar(@players_sorted[1].username, 50)
            = @players_sorted[1].username
          .game-place THIRD PLACE
          %h2
            =player_avatar(@players_sorted[2].username, 50)
            = @players_sorted[2].username

.container
  .row.game-specifics
    .col
      / %strong.text-uppercase Most Kills
      %strong.text-uppercase Other stat 
      %h3= player_tooltip_element('Halftone', true, false)
    .col
      %strong.text-uppercase Other stat
      %h3= player_tooltip_element('Halftone', true, false)
    .col
      %strong.text-uppercase Other stat
      %h3= player_tooltip_element('Halftone', true, false)
    .col
      %strong.text-uppercase Shortest Time Alive
      %h3= player_tooltip_element(@players_sorted.last.username, true, false)
  %hr
  -# .row
  -#   .col-12.col-md-6.col-lg-4
  -#     %h2.page-header Ranking
  -#     .panel.panel-default
  -#       %ul.list-group
  -#         - 24.times do |i|
  -#           %a.list-group-item{href: "/p/Halftone"}
  -#             %span.badge= (29 - i).to_s + ":" + rand(10..59).to_s
  -#             .row.-no-gutter
  -#               .col-1= i + 1
  -#               .col-11 Playername
  -#   .col-12.col-md-6.col-lg-8
  %div
    %div
      %h2.page-header Event timeline
      .game-timeline
        - @timeline_events.each_with_index do |event, i|
          .game-timeline-line
            .game-timeline-timestamp
              - if event[:type] != 'blank' && event[:type] != 'win'
                / = event[:time]
                = distance_of_time_in_words(event[:time], @game.started_at)
                / = event[:spacing]
            .game-timeline-visual{style: 'width: ' + event[:width].to_s + 'px; height: ' + @timeline_events[i-1][:spacing].to_s + 'px'}
              .game-timeline-visual-content
                - if event[:type] == 'death' && event[:killer]
                  .killer-line{style: 'left: ' + (event[:killer_row] + 9).to_s + 'px; width:' + event[:killer_line].to_s + 'px'}
                  .killer-dot{style: 'left: ' + event[:killer_row].to_s + 'px'}
                - if event[:type] == 'death'
                  .death-dot
                - elsif event[:type] == 'win'
                  .text-icon.-gold
                    %i.fa.fa-trophy
                  .win-dot
                - elsif event[:type] == 'feast'
                  .text-icon
                    %i.fa.fa-medkit
                  .hor-line
                - elsif event[:type] == 'start'
                  .text-icon
                    %i.fa.fa-flag
                  .hor-line
            .game-timeline-text
              - if event[:type] == 'death' && event[:killer]
                = player_tooltip_element(event[:player].username, true, true)
                was murdered by
                = player_tooltip_element(event[:killer].username, true, true)
              - elsif event[:type] == 'death'
                = player_tooltip_element(event[:player].username, true, true)
                died
              - elsif event[:type] == 'feast'
                A feast has occurred
              - elsif event[:type] == 'win'
                = player_tooltip_element(event[:player].username, true, true)
                has won the match
              - elsif event[:type] == 'start'
                The match has started
      .game-timeline-users
        - @players_sorted.each do |player|
          .game-timeline-username= player.username