- content_for :head do
  - title 'Biodomes on May 24th, 2016 at 15:27'
  = javascript_include_tag "game_report"

  = javascript_tag do
    window.gameId = '#{@game.id}';

.mega-header{style: "background-image: url(#{image_url('home-bg.jpg')});"}
  .page-header
    .container
      .row.-no-gutter
        .col
          %h1 Game Report
  .game-report-header
    .container
      .row
        .col-8.game-winner
          .game-place FIRST PLACE
          =player_avatar('Halftone', 150)
          .game-winner-info
            %h2
              Halftone
            .row
              .col
                .stat-num 4
                .stat-desc Kills
              .col
                .stat-num 24
                .stat-desc Minutes Alive
              .col
                .stat-num 284
                .stat-desc Blocks broken
        .col-4
          .game-place SECOND PLACE
          %h2
            =player_avatar('Komp', 50)
            Komp
          .game-place THIRD PLACE
          %h2
            =player_avatar('Dickhead', 50)
            Dickhead

.container
  .row.game-specifics
    .col
      %strong.text-uppercase Most Kills
      %h3= player_tooltip_element('Halftone', true, false)
    .col
      %strong.text-uppercase Most blocks broken
      %h3= player_tooltip_element('Halftone', true, false)
    .col
      %strong.text-uppercase Longest killstreak
      %h3= player_tooltip_element('Halftone', true, false)
    .col
      %strong.text-uppercase Shortest Time Alive
      %h3= player_tooltip_element('Komp', true, false)
  %hr
  .row
    .col-12.col-md-6.col-lg-4
      %h2.page-header Ranking
      .panel.panel-default
        %ul.list-group
          - 24.times do |i|
            %a.list-group-item{href: "/p/Halftone"}
              %span.badge= (29 - i).to_s + ":" + rand(10..59).to_s
              .row.-no-gutter
                .col-1= i + 1
                .col-11 Playername
    .col-12.col-md-6.col-lg-8
      %h2.page-header Event timeline
      .game-timeline#game-timeline
        = render @events
        /.panel.panel-default
        /  .panel-body
        /    .label.label-default 08:35
        /    =player_tooltip_element('Halftone', true, true)
        /    killed 
        /    =player_tooltip_element('Komp', true, true)
        /    using a diamond sword
        /  
        /.panel.panel-success
        /  .panel-body
        /    .label.label-success 07:06
        /    =player_tooltip_element('Halftone', true, true)
        /    found diamonds
        /    
        /.panel.panel-default
        /  .panel-body
        /    .label.label-default 04:02
        /    =player_tooltip_element('Halftone', true, true)
        /    threw
        /    =player_tooltip_element('Komp', true, true)
        /    into a fire
        /    
        /.panel.panel-default
        /  .panel-body
        /    .label.label-default 02:01
        /    =player_tooltip_element('Halftone', true, true)
        /    shot
        /    =player_tooltip_element('Komp', true, true)
        /    using a bow
        /    
        /.panel.panel-warning.panel-feast
        /  .panel-body
        /    .label.label-warning 01:56
        /    A feast has started
        /.panel.panel-default
        /  .panel-body
        /    .label.label-default 00:12
        /    =player_tooltip_element('Halftone', true, true)
        /    killed 
        /    =player_tooltip_element('Komp', true, true)
        /    using a wooden sword
