- content_for :head do
  - title 'Login'
.devise-container
  .devise-bg
  .container
    .row.row-12.row-sm-6
      .col
        %h1
          Login to
          = render "partials/name"
        = form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
          .form-group.form-group-lg
            = f.label :email
            %br/
            = f.email_field :email, autofocus: true, class: "form-control"
          .form-group.form-group-lg
            = f.label :password
            %br/
            = f.password_field :password, autocomplete: "off", class: "form-control"
          - if devise_mapping.rememberable?
            .form-group
              = f.check_box :remember_me
              = f.label :remember_me
          .actions
            = f.submit "Log in", class: "btn btn-white"
        = render "devise/shared/links"
      .col
        %h1 Not yet a member?
        %h2 Join our friendly community!

