- content_for :head do
  - title @topic.emojified_name + ' - ' + @forum.name + ' - Forums'

.page-header
  .container
    .row.-no-gutter
      .col
        %h1
          = @topic.emojified_name
          %small.text-muted
            by
            = @topic.user.forum_display_name
.container
  / %code
  /   =local_variables
  / %br
  / %br
  / %code
  /   =instance_variables
  / %br
  / %br
  / %code
  /   =@posts.public_methods
  / %br
  .row
    .col-9
      - if @posts.first_page? == true
        .panel.panel-default
          .panel-body
            .bigger-content
              = mongoid_forums_format(@posts[0].text)
        %hr
      %div
        = paginate @posts, :theme => 'twitter-bootstrap-3'

      = render @posts, :locals => {:posts => @posts}

      %div
        = paginate @posts, :theme => 'twitter-bootstrap-3'

    .col-3
      / User who posted
      - if @posts.first_page? == true
        .topic-creator.panel.panel-default
          .panel-body.text-center{style: 'background-image: url("/assets/backgrounds/' + @posts[0].user.background_image.to_s + '.jpg")'}
            =user_avatar(@posts[0].user.forum_display_name, 100)
            %h3= @posts[0].user.forum_display_name
          .panel-footer.topic-creator-footer
            .row.-no-gutter-vert
              .col
                .num
                  = @posts[0].user.kills
                Kills
              .col
                .num
                  = @posts[0].user.deaths
                Deaths
              .col
                .num
                  ??
                Level
        %hr
      / Buttons
      - if @topic.can_be_replied_to? && can?(:reply, @topic)
        = link_to "Reply to topic", new_topic_post_path(@topic), :class => "btn btn-primary btn-block"
      - if mongoid_forums_user && @topic.subscriber?(mongoid_forums_user.id)
        = link_to "Unsubscribe", unsubscribe_topic_path(@topic), :class => "btn btn-default btn-block"
      -elsif mongoid_forums_user
        = link_to "Subscribe", subscribe_topic_path(@topic), :class => "btn btn-default btn-block"
      - if mongoid_forums_admin?
        %hr
        = link_to t("mongoid_forums.topics.actions.hide.#{@topic.hidden}"), toggle_hide_admin_topic_path(@forum, @topic), class: 'btn btn-default btn-block'
        = link_to t("mongoid_forums.topics.actions.lock.#{@topic.locked}"), toggle_lock_admin_topic_path(@forum, @topic), class: 'btn btn-default btn-block'
        = link_to t("mongoid_forums.topics.actions.pin.#{@topic.pinned}"), toggle_pin_admin_topic_path(@forum, @topic), class: 'btn btn-default btn-block'
      %hr
      / Timestamps
      %p.text-muted.text-right
        Created
        = time_ago_in_words(@posts[0].created_at)
        ago
        - if @posts[0].updated_at != @posts[0].created_at
          %span
            \- updated
            = time_ago_in_words(@posts[0].updated_at)
            ago
      %hr 
      - @categories.each do |category|
        %h2
          = category.name
        %ul
        - category.forums.asc(:position).each do |forum|
          %li= link_to forum.name, forum
