.page-header
  .container
    .row.-no-gutter
      .col
        %h1 Statistics
.container

  %ul.nav.nav-pills
    %li{:role => "presentation", class: active_by_param_match(:period, "today")}
      = link_to "Today", request.query_parameters.merge(period: "today")
    %li{:role => "presentation", class: active_by_param_match(:period, "week")}
      = link_to "This week", request.query_parameters.merge(period: "week")
    %li{:role => "presentation", class: active_by_param_match(:period, "all", true)}
      = link_to "All Time", request.query_parameters.merge(period: "all")

  %table.table.table-bordered
    %thead
      %tr
        %th #
        %th Username
        %th{class: active_by_param_match(:sort, "kills", false, "warning")}
          = sortable "Kills"
        %th{class: active_by_param_match(:sort, "deaths", false, "warning")}
          = sortable "Deaths"
        %th{class: active_by_param_match(:sort, "kd", false, "warning")}
          = sortable "kd", "K/D"
        %th{class: active_by_param_match(:sort, "wins", false, "warning")}
          = sortable "Wins"
        %th{class: active_by_param_match(:sort, "losses", false, "warning")}
          = sortable "Losses"
        %th{class: active_by_param_match(:sort, "wl", false, "warning")}
          = sortable "wl", "W/L"
    %tbody
      - @stats_users.each_with_index do |user, index|
        %tr
        %th{:scope => "row"}
          = index + 1
        %td
          = user["username"]
        %td
          = user["kills"]
        %td
          = user["deaths"]
        %td
          = user["kd"]
        %td
          = user["wins"]
        %td
          = user["losses"]
        %td
          = user["wl"]
