!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title= yield :title
    %meta{:name => "viewport", :content => "width=device-width, initial-scale=1"}
    = action_cable_meta_tag
    = csrf_meta_tags
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = stylesheet_link_tag    'application', 'https://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
    = yield :head
  %body
    = render 'peek/bar'
    = render 'partials/navbar'
    .main-content
      = yield
    = render 'partials/footer'
    
