- content_for :head do
  - title 'Home'

.home-header
  .container
    .row.-align-hor-center
      .col-5
        %h1
          = render 'partials/name'
          is a Minecraft PVP community
        .buttons
          #play-button.play-button
            .disabled-content
              Start Playing
            .active-content
              %code.ip play.hungerstruck.net
              .version
                Minecraft
                %span 1.8
          - if !current_user
            .create-account
              or
              = link_to "create an account", new_user_registration_path

.container
  .home-matches
    %h2 Matches currently playing
    .row-4
      .col
        %a{href: '/matches/1'}
          .list-match-playing{style: "background-image: url(#{image_url('home-bg.jpg')});"}
            .match-map UK
            .time
              %i.fa.fa-clock-o
              = rand(3..30).to_s + ':' + rand(10..59).to_s
      .col
        %a{href: '/matches/2'}
          .list-match-playing{style: "background-image: url(#{image_url('home-bg.jpg')});"}
            .match-map Greenland
            .time
              %i.fa.fa-clock-o
              = rand(3..30).to_s + ':' + rand(10..59).to_s
      .col
        %a{href: '/matches/3'}
          .list-match-playing{style: "background-image: url(#{image_url('home-bg.jpg')});"}
            .match-map Biodomes
            .time
              %i.fa.fa-check-circle-o
              Match Finished
  .row
    .col-4
      %p.text-muted SERVER STATISTICS
      %h2 General stats
      .row
        .col-6
          %p
            %strong Players online
          %p
            %strong Matches played
        .col-6
          %p 163
          %p 1294
      %h2.page-header Today's top player
      .panel.panel-default
        .panel-body
          .row.-no-gutter-vert
            .col-4
              %img.avatar{src: "https://mcapi.ca/avatar/2d/Halftone/100"}
            .col-7
              %h3 Halftone
              %strong 50
              matches won
    .col-8
      %p.text-muted LATEST ANNOUNCEMENT
      .panel.panel-default
        .panel-body
          %h2.text-center.page-header New map added!
          .bigger-content
            %p.lead Mauris scelerisque nulla ut mauris iaculis, a euismod nulla eleifend. Maecenas consequat interdum nibh, at tincidunt justo commodo eget. Pellentesque ut pharetra tellus, eu pulvinar ligula. Duis ac nisl rhoncus, ultrices eros sed, consequat orci.
            %p Mauris est dolor, consequat sit amet ante ac, lobortis accumsan dui. In hac habitasse platea dictumst. Aenean nec velit et nibh cursus blandit. Nam nec augue quis nulla hendrerit consectetur a accumsan nulla. Aliquam ac dolor id nulla lobortis adipiscing id quis mauris. Duis arcu nunc, mollis a quam vel, aliquam dignissim neque. Maecenas magna dui, dignissim quis felis sed, tincidunt molestie magna. Proin semper felis in dolor commodo, quis facilisis lorem facilisis.
            %p Ut sit amet magna orci. Integer sit amet varius ipsum. Ut mattis ullamcorper fermentum. Integer pretium felis sit amet urna volutpat, ac elementum ante interdum. Vestibulum varius adipiscing tortor. In accumsan aliquam facilisis. Maecenas odio erat, elementum sit amet laoreet id, egestas nec velit. Nullam interdum enim fringilla orci elementum aliquet. Mauris est dolor, consequat sit amet ante ac, lobortis accumsan dui. In hac habitasse platea dictumst. Aenean nec velit et nibh cursus blandit. Nam nec augue quis nulla hendrerit consectetur a accumsan nulla.
      .panel.panel-default
        .panel-body
          By
          %a{href: '/p/Halftone'}
            %strong{ "data-toggle" => "popover", "title" => "Halftone", "data-placement" => "top", "data-content" => "player_tooltip"} Halftone
          .pull-right
            #{Time.now.strftime("%B %d, %Y at %H:%M")}
      .text-right
        %a.btn.btn-default{:href => "#link to forums"} View all annoucements
